@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  @layer base {
  /* Global font color */
  * {
    @apply text-slate-300;
  }

  body{
        @apply bg-bg-body text-slate-300 antialiased;
    font-family: 'Urbanist', sans-serif;
    background-image:
      radial-gradient(circle at 0% 0%, rgba(17, 57, 142, 0.25), transparent 55%),
      radial-gradient(circle at 100% 100%, rgba(1, 17, 27, 0.35), transparent 55%),
      radial-gradient(circle at 50% 120%, rgba(37, 86, 193, 0.25), transparent 60%);
    background-color: #000104;
  }

  h1, h1 span {
    @apply text-h1 text-slate-100 font-bold;
  }
  @screen md {
    h1, h1 span {
      @apply text-h1-md;
    }
  }
  @screen lg {
    h1, h1 span {
      @apply text-h1-lg;
    }
  }

  h2 {
    @apply text-h2 text-slate-100 font-semibold;
  }
  @screen md {
    h2 {
      @apply text-h2-md;
    }
  }
  @screen lg {
    h2 {
      @apply text-h2-lg;
    }
  }

  h3 {
    @apply text-h3 text-slate-100 font-semibold;
  }
  @screen md {
    h3 {
      @apply text-h3-md;
    }
  }

  p, a, span, li, label, input, textarea, button {
    @apply text-base text-slate-300;
  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

input:-internal-autofill-selected,
textarea:-internal-autofill-selected {
  background-color: transparent !important;
  color: inherit !important;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.font-italic {
  font-style: italic;
}
